.pokemon-card-container {
    cursor: pointer;
    position: relative;
}

.pokemon-card-container-front {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    box-shadow: 18px 18px 15px 5px var(--fading-blue);
    border-radius: 0.5rem;
    background-color: var(--white);
    position: relative;
}


.pokemon-card-container-front h3 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.pokemon-card-container-front img {
    max-width: 240px;
    max-height: 330px;
    width: 100%;
    height: auto;
}

.pokemon-card-container-front-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.pokemon-card-container-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: grid;
    justify-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.pokemon-card-container-back.flipped {
    /* transform: rotateY(20deg); */
    transition: transform 0.6s;
    opacity: 1;
    z-index: 3;
}


.pokemon-card-container-front-body {
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.pokemon-card-container-front-body:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
}

.pokemon-card-container-front-body:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

.pokemon-card-container-front-body:hover {
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg);
    transition: transform 0.6s;
}

.pokemon-card-container-front-body:active:after {
    opacity: 0;
}