.home-page-container {
    background-color: var(--page-background);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: auto;
}

.pokemons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.no-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}