.details-page-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        ". main .";
    gap: 1rem;
}

.details-page-header {
    padding: 0 1rem;
    text-align: center;
}

.pokemon-card-detailed-container {
    grid-area: main;
    display: grid;
    gap: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    grid-template-columns: 1fr;
}

.contain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.card-information h2{
   text-align: center;
}