@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --pokemon-blue: hsl(229, 93%, 41%);
    --pokemon-black: hsl(210, 11%, 15%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
    word-wrap: normal;
}